<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="wards edit">
  <h2>Update Ward</h2>

  <%= form_for(:ward, :url => {:action => 'update', :id => @ward.id}) do |f| %>
  	<%= render(:partial => "form", :locals => {:f => f}) %>


    <div class="form-buttons">
      <%= submit_tag("Update Ward") %>
    </div>

  <% end %>
</div>